$fontFamily = "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif
$fontSzie = 75%
$bodyFontSize = 1.4rem
$fontColor = #fff
$bgColor = #00bcd4
$darkTextColor = #333

$headerBgColor = #2d7fa7
$headerColor = #fff
$headerHeight = 50px
$headerFontSize = 1.8rem

$contentZindex = 0
$navigationZindex = 10
$maskZindex = 50
$popoutZindex = 100